* 
	{
		margin: 0px;
		padding: 0px;
	}

.container
	{
	width: 800px;
	height: 900px;
	}
	
.header
	{
		width: 800px;
		height: 100px;
		background-color: green;
	}
	
contain

.content
	{
		margin-left: 480px;
		width: 800px;
		height: 700px;
		background-color: #ededed;
	}

.footer
	{
		margin-left: 480px;
		width: 800px;
		background-color: green;
		height: 100px;
	}
